
@media(max-width:1248px){    #block .grey svg image{height: 110%;
  x:0}
section{height: 165vw;}}                  @media(max-width:786px){
                  



  section{position: relative;
    width: 100%;
    height: 55%;
    display: grid;
  
    grid-template-columns:100%;
    grid-template-rows: autos;
 
}
#block,#block2{ background-color: cornsilk; }


.grey,.red{position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
}
      .grey{display: grid;
                grid-template-columns: 6fr 6fr;  }

               .text-block{text-align: center;}
                hr{background-color: rgb(157, 136, 20);height: 1px;width: 45%;margin: auto;}
                .event-text h4{font-size: 36px;padding: 15px 0;color: #000;}
                .event-text h6{font-size: 20px;padding: 2vw 0;color: #000;
                  width: 100%;margin: -4vw 0vw 0 2vw;
                text-align: right;}
                .event-text h3{font-size:46px;color: #000;}
                .stasik-logo{position: absolute;z-index: 92;
                width: 120px;
               left: 0;
               top: 25px;  
            }


            /* SVG */
   
            .line-more{width: 30%;position:absolute;
              left: 0;
              bottom: 2%;
              background-color: blanchedalmond;
          }

          
.st0{display:none;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{	font-family: "  ofont.ru_Vivaldi script";
}
.st3{font-size:36px;}
.st4{display:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st5{display:none;fill:none;}
.st6{fill:none;stroke:#110911;stroke-width:2;stroke-miterlimit:10;}
/* 
   DEVIDER */
   
.devider{position: relative;

width: 100%;
height: 100%;}
  #devider{position:relative;
               background-color:transparent;
             margin: 0;
            padding: 0;
            width: 120%;
            height: auto;
            top: 31vw;
          gap: 0;}

       .path3,.path1{fill:cornsilk; transform: scaleY(1);  stroke:goldenrod;stroke-dashoffset:0%; stroke-width: 2px;stroke-dasharray: 148%; stroke-miterlimit:10;}
     
  #devider1,#devider2{position:relative;
    background-color:transparent;
    transform: scale(-1.6);
    margin-top: -25px;
    gap: 0;}
 section .red .title-up{position: relative;
              font-size: 9vw;
              background-image: url(img/45.jpg);
              background-size:11vw ;
              background-clip: text;
             text-align: center;
             margin-top: -1vw;
             background-attachment: fixed;
             background-repeat: repeat;
             -webkit-text-stroke: 2px goldenrod;
             color: rgba(240, 248, 255, 0);
         }
         #block .red{position: absolute;
          z-index: 3;
        top: 0;
     left: 0%;}
     #block .red h3{position: absolute;
      left: 2%;
      top: 40%;text-shadow:5vw 5vw 5vw grey;
                  font-size: 4vw;}



#block .red h1{position: absolute;
background-image: url(img/44.jpg);
background-size:13vw ;
background-clip: text;
background-attachment: fixed;
font-family: "  kudry_weird-headline";

          bottom: -11vw;
          color:  transparent;
          -webkit-text-stroke: 4px  goldenrod;
        font-size:clamp(8vw, 9vw, 19vw) ;
        left: 2%;
     width: 96%;}
     h3{font-size: clamp(34px,26px,22px);}

 
            @media(max-width:786px){
                
                   section{height: auto;}
               
               .grey{position: relative;
                         width: 100%;
                       
                       grid-template-columns:100%;
                       grid-template-rows: 7fr 6fr;
                      }  
                       #about .green{position: absolute;
                                    top: 95vw;
                                   margin-left:13%;
                                 padding: 2vw;
                                 display: flex;height:95vw;
                                 width: 70%;}
                #about svg{margin: auto;}
                #about svg image{height: 100%;}
                .green,.blue{height: 100%;
                                          width: 100%;
                                          padding: 0;}
                 #block .red h1{bottom: -32vw;
                                 font-size: 
                                 79px;
                                -webkit-text-stroke: 0px red;    }
                #block .grey svg{position: relative; width: 180%;
                             margin-top: -8vw;     
                          height: 95vw;}
                        
                    #img1{width: 100%;margin: auto; mask:url(#circleMask4);position:absolute;}  
                      }