
@font-face {
  font-family: "KudryashevHeadline-Sans";
  src: url(../fonts/KudryashevDisplay-Sans.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "  kudry_weird-headline";
  src: url(../fonts/kudry_weird-headline.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
   font-family: "KudryashevHeadline-Sans";
   src: url(../fonts/KudryashevDisplay-Sans.ttf);
   font-weight: bold;
   font-style: normal;
 }
 @font-face {
   font-family: "  kudry_weird-headline";
   src: url(../fonts/kudry_weird-headline.otf);
   font-weight: bold;
   font-style: normal;
 }


body{      width: 100%;
         margin: 0;
         overflow-x: hidden;
         padding: 0;
         background-color: rgba(19, 44, 66, 0);
         z-index: 0;
         height: 100%; }

           header{position: absolute;}


       section{position: relative;
                        width: 100%;
                       display: grid;
                        gap: 0;
                      margin: 0;
                      grid-template-columns:100%;
                       z-index:1;
       }
       
       .grey{display:grid;
             grid-template-columns: 50% 50%;
             width: 100%;
             height: 36vw;
             overflow: hidden;
            margin: 0;margin-bottom: 4svw;
             padding:5vw 0;
      }

      .red{position: relative;
          width: 100%;
          margin: 0;
           padding: 0;   
           grid-area: "red";
              }      

         
          .blue{grid-area: "blue";
               width: 100%;
               height: 100%;
               margin: auto;  
               position: relative;
                   padding: 0;}

          .green{position: relative;
            width: 100%;
               height: 100%;
               grid-area: "green";}

  footer{position: relative;
          width: 100%;
        height: 45vw;}
        #footer{transform: scaleX(1.3);}
        .line-more{width: 30%;position:absolute;
          left: 0;
          bottom: 2%;
          background-color: blanchedalmond;
      }

      
.st0{display:none;fill:#0c0b0b;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{	font-family: "  ofont.ru_Vivaldi script";
}
.st3{font-size:36px;}
.st4{display:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st5{display:none;fill:none;}
.st6{fill:none;stroke:#110911;stroke-width:2;stroke-miterlimit:10;}
#event-svg{position: absolute;transform: scale(1.1);top: -4vw;}

      
            /* TEXT */
             .red h3{position: absolute;
              left: 2%;z-index: 9999;
              top:30%;text-shadow:2px 2px 2px goldenrod;
                          font-size: 4vw;}
    
  h6{font-size: 32px;} 
  
  
     .red h1{position: absolute;
       font-family: "  kudry_weird-headline";
                 z-index: 99;
               top: 24vw;
                  color: rgb(161, 173, 140);text-shadow:2px 2px 2px goldenrod;
                font-size:clamp(8vw, 9vw, 19vw) ;
               left: 2%;
             width: 96%;}

            .title-up{position: relative;
                 grid-area: "text";
                 z-index:-0;margin-top: 7vw;
                     width: 100%;
                     height:100px;}

                         .title-up h1{font-size: 20vw;
                         width: 100%;
                         position: absolute;
                          top: -330px;
                        -webkit-text-stroke: 2px goldenrod;
                       color: rgba(30, 145, 245, 0);
                       text-align: center;
                       z-index: 8;}

                 .title-up h3{font-size: 8vw;
                        position: absolute;
                      width: 100%;
                      font-family: "  kudry_weird-headline";
                      top: -95px;
                    color: rgba(0, 0, 0, 0.979);
                    text-align: center;
                    z-index: 8;}
          .text-block{width: 60%;
            font-family: "KudryashevHeadline-Sans";
   font-family: "KudryashevHeadline-Sans";

            line-height: 35px;margin: 3vw auto;
                   text-align: center;
                    font-weight: 100;}

            .text-block h4{
               font-size: 23px;
              font-weight: 100;}
       h5{font-size: 42px;font-style: italic;font-weight: 100;}   
       .text-block h3{font-size:68px;font-weight: 200;   font-family: "KudryashevHeadline-Sans";
       }
         hr{position: relative;
         width: 40%;height: 2px;
           background-color: goldenrod;
          margin: a;}
       
       
       
       /* IMG */
   .video{position: relative;
       width:100%;text-align: center;
      
       margin: auto;
   video{margin: auto;
         width: 100%;}
  
  
  }

                
            .img{width:100%;  mask: url(#circleMask4);position:relative;z-index: 3;}

          .img1{ width: 100%; mask: url(#circleMask1);}
          .img3{ width: 100%; mask: url(#circleMask3);}
          .img2{ width: 100%;mask: url(#circleMask2);}
     #block-one{clip-path: url(#clip-1); height: 45vw;}
     #svg-5{position: absolute;;fill:cornsilk;;top:50px;
      stroke:goldenrod;stroke-width: 4px;
              z-index: 1;}
  
          @media(max-width:786px){
                #block-one{width:100%;overflow-x:hidden;}
                #img{width:100%;overflow-x:hidden}
  #block-one .img{transform: scale(1.52);padding-top: 15vw;}
  #block-one{margin-bottom: 9vw;padding-bottom: 131vw;}
  #block-one .red h1{font-size: 15vw;top: 249%;position: absolute;} 
      .grey{position: relative;
                  width: 100%;
              height:auto;
                  z-index: 1;
                grid-template-columns:100%;
                grid-template-rows: auto;
               } 
               .red{ margin-bottom: 8vw;z-index: 9;}
               .green, .blue{width: 100%;height: auto;overflow: hidden;}
           
                /* IMG */
        .img{width: 200%;
              position: absolute;
              left:-40%;}
              #event-svg{position: absolute;transform: scaleY(3.6);top: 64vw;}
     

              #svg-5{position: absolute;top 32% ;z-index: 9;transform: scaleY(1.7);}
              .title-up h3{font-size: 8vw;
                position: absolute;
              width: 100%;
              font-family: "  kudry_weird-headline";
                top: 235px;}     
                   /* TEXT */
                 .text-block{width: 80%;
                          height: 90%;
                          z-index: 999;
                            text-align: center;
                               margin: auto;
                                padding: 20px;}
               
                  .text-block h3{font-size: 39px;
                                  text-align: center;
                                  font-weight: 900;}

                                  .title-up{position: relative;
                                    grid-area: "text";
                                    z-index:-0;
                                    top: -294px;
                                        width: 100%;
                                        height:10px;}
                   
                                            .title-up h1{font-size: 20vw;
                                             top: 120px;
                                           -webkit-text-stroke: 2px goldenrod;
                                          color: rgba(30, 145, 245, 0);
                                          text-align: center;
                                          z-index: 8;}
                   
                .title-up h1{font-size: 25vw;
                               position: absolute;
                             width: 100%;
                       
                 }
                }
